files:
    "/opt/elasticbeanstalk/support/conf/pumaconf.rb":
        mode: "000644"
        owner: root
        group: root
        content: |
            directory '/var/app/current'
            threads 5, 5
            workers 2
            preload_app!
            on_worker_boot do
                ActiveSupport.on_load(:active_record) do
                    ActiveRecord::Base.establish_connection
                end
            end
            bind 'unix:///var/run/puma/my_app.sock'
            pidfile '/var/run/puma/puma.pid'
            stdout_redirect '/var/log/puma/puma.log', '/var/log/puma/puma.log', true
            daemonize false
