files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/99_restart_nginx.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe
      service nginx restart

  "/opt/elasticbeanstalk/hooks/configdeploy/enact/99_restart_nginx.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe
      service nginx restart

  "/opt/elasticbeanstalk/hooks/restartappserver/enact/99_restart_nginx.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe
      service nginx restart
