files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_copy_secrets.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/hooks/common.sh

      set -xe

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_APP_STAGING_DIR

      if [ "$RAILS_ENV" = "staging" ]; then
        BUCKET_PATH=my-bucket-path/staging
      fi

      if [ "$RAILS_ENV" = "production" ]; then
        BUCKET_PATH=my-bucket-path/production
      fi

      #copy secrets.yml
      aws s3 cp s3://$BUCKET_PATH/secrets.yml ./config/secrets.yml
      
      #copy database.yml
      aws s3 cp s3://$BUCKET_PATH/database.yml ./config/database.yml
      
      #copy salesforce keypair
      aws s3 cp s3://$BUCKET_PATH/salesforce.crt ./lib/assets/salesforce.crt
      aws s3 cp s3://$BUCKET_PATH/salesforce.key ./lib/assets/salesforce.key
