files:
  "/etc/init.d/resquepool":
    mode: "000755"
    owner: root
    sdgroup: root
    content: |
      #!/usr/bin/env bash
      # resquepool daemon
      # description: manager for a pool of resque workers
      # processname: resque-pool-master

      NAME=resquepool

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

      . $EB_SUPPORT_DIR/envvars

      . $EB_SCRIPT_DIR/use-app-ruby.sh

      PIDFILE=/var/app/containerfiles/pids/resque-pool.pid

      case "$1" in
      start)
            if [ "$RESQUE" = "true" ]; then
              printf "%-50s" "Starting $NAME..."
              cd $EB_APP_DEPLOY_DIR
              su -s /bin/bash -c "resque-pool -d -E $RAILS_ENV -p $PIDFILE" $EB_APP_USER
            fi
      ;;
      stop)
            printf "%-50s" "Stopping $NAME"
            if [ -f $PIDFILE ]; then
                  PID=`cat $PIDFILE`
                  kill -s QUIT $PID
            else
                  printf "%s\n" "pidfile not found"
            fi
      ;;
      restart)
            printf "%-50s" "Restarting $NAME"
            if [ -f $PIDFILE ]; then
                  PID=`cat $PIDFILE`
                  kill -s HUP $PID
            else
                  $0 start
            fi
      ;;
      *)
            echo "Usage: $0 {start|stop|restart}"
            exit 1
      esac
