packages:
  yum:
    monit: []
files:
  "/etc/monit.d/resquepool":
    mode: "000644"
    owner: root
    group: root
    content: |
      check process resquepool
        with pidfile /var/app/containerfiles/pids/resque-pool.pid
        start program = "/sbin/service resquepool start"
        stop program = "/sbin/service resquepool stop"
        group resquepool

commands:
  remove_bak:
    command: "rm /etc/monit.d/resquepool.bak"
    ignoreErrors: true
services:
  sysvinit:
    monit:
      ensureRunning: true
      enabled: true
